body {
    background-color: beige;
}

img, button {
    display: block;
    margin: 0 auto;
    width: 600px;
    background: hsl(65, 100%, 79%);
    font-size: 30px;
}

h1 {
    text-align: center;
    background: hsl(65, 100%, 79%);
}

.box1 {
    background: bisque;
    width: 600px;
    margin: 16px auto;
    border: 1px solid black;
}

.box2 {
    background: rgb(255, 243, 196);
    padding: 8px;
    width: 650px;
    margin: 16px auto;
    border: 1px solid black;
}


